ext {
    enableDeployGate = false

    releaseAlias = 'androiddebugkey'
    releaseStorePassword = 'android'
    releaseKeyPassword = 'android'
    releaseStorePath = '../debug.keystore'

    cloudFunctionEndpoint=''
}
